#version=DEVEL
ignoredisk --only-use=nvme0n1
# Partition clearing information
clearpart --all --initlabel
# OSTree setup
ostreesetup --osname="fedora" --remote="fedora" --url="file:///ostree/repo" --ref="fedora/30/x86_64/silverblue" --nogpg
# Use graphical install
graphical
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s31f6 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp2s0 --ipv6=auto
network  --hostname=localhost.localdomain
#Root password
rootpw --lock
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Stockholm --isUtc
user --groups=wheel --name=jlh --password password --plaintext --gecos="Justin Lex-Hammarskjöld"
# Disk partitioning information
part pv.222 --fstype="lvmpv" --ondisk=nvme0n1 --size=972804
part /boot/efi --fstype="efi" --ondisk=nvme0n1 --size=200 --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="ext4" --ondisk=nvme0n1 --size=1024
volgroup fedora_ayy-lmao --pesize=4096 pv.222
logvol / --fstype="ext4" --size=71676 --name=root --vgname=fedora_ayy-lmao
logvol /home --fstype="ext4" --size=901120 --name=home --vgname=fedora_ayy-lmao

%post --erroronfail
cp /etc/skel/.bash* /root
%end

## Run Ansible Playbooks ##
%post --erroronfail

cd /root

# Install a portable version of Ansible
git clone --single-branch --branch stable-2.8 https://github.com/ansible/ansible.git

# TODO: Set up ansible playbooks and run them here

%end
## end Ansible ##

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
